.*.fetch
.*.config
.*.install
.*.make
.*.unpack
.*.patch
*.sh
*~
*.mak
install
*.gz
*.bz2
curl-7.28.1/
ncurses-5.9/
nginx-1.3.8/
openssl-1.0.1c/
pcre-8.31/
postgresql-9.2.1/
readline-6.2/
repmgr-1.2.0/
ruby-1.9.3-*/
yaml-0.1.4/
zlib-1.2.7/
Percona-Server-5.5.28-rel29.3/
app/
bison-2.7/
ca/
certs/
cmake-2.8.10.2/
dbt2-0.37.50.3/
innotop-1.6.0/
libaio-0.3.109/
libxml2-2.9.0/
libxslt-1.1.28/
mysqlreport-3.5/
node-v*/
percona-toolkit-2.1.7/
rails_projects/
sqlite-autoconf-*/
apr-1.*/
apr-util-1.*/
httpd-2.*/
passenger-3.*/